Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Use aside as container element
  docs/jekyll/configuration.md
  src/config/defaultConfig.ts
  src/lib.ts
  src/types.ts
Due: eslint, markdownlint

Allow for custom container element (#100)
  docs/jekyll/configuration.md
  src/lib.ts
Due: eslint, markdownlint

Add v1.2.0
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  package.json
Due: markdownlint

Add v1.2.0 (#111)
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  package.json
Due: markdownlint

feat: add experimental ADPC support
  src/lib.ts
  src/tests/__mocks__/config.ts
  src/types.ts
  src/utils/ADPC.ts
Due: eslint

docs: use dedicated domain instead of unpkg
  docs/jekyll/_includes/head.html
  docs/jekyll/installation.md
Due: markdownlint

docs: use dedicated domain instead of unpkg (#140)
  docs/jekyll/_includes/head.html
  docs/jekyll/installation.md
Due: markdownlint

fix: docs cookie though background color
  docs/_scss/modules/_aside.scss
Due: none

fix: only publish dist folder to npm
  package.json
Due: none

chore(deps): update jest to v27.1.0
  package-lock.json
  package.json
Due: none

Fix docs cookie though background color (#143)
  docs/_scss/modules/_aside.scss
  package-lock.json
  package.json
Due: none

fix: docs sidebar background color
  docs/_scss/modules/_aside.scss
Due: none

fix: docs sidebar background color (#151)
  docs/_scss/modules/_aside.scss
Due: none

feat: add fontweight property to styling
  docs/jekyll/styling.md
  src/components/app.css
  src/components/banner/style.css
  src/components/customization/css/option.css
Due: markdownlint

feat: add fontweight property to styling (#198)
  docs/jekyll/styling.md
  src/components/app.css
  src/components/banner/style.css
  src/components/customization/css/option.css
Due: markdownlint

1.3.0
  package-lock.json
  package.json
Due: none

fix: hide container completely
  CHANGELOG.md
  src/tests/lib.test.ts
  src/utils/dom.ts
Due: eslint, markdownlint

fix: hide container completely (#199)
  CHANGELOG.md
  package-lock.json
  package.json
  src/tests/lib.test.ts
  src/utils/dom.ts
Due: eslint, markdownlint

chore: use https instead of http to publish package
  .gitlab-ci.yml
Due: none

chore: use https instead of http to publish package (#200)
  .gitlab-ci.yml
Due: none

refactor: update dependencies and move config to package.json
  .babelrc
  .eslintrc.js
  .markdownlint.json
  .nojekyll
  .npmignore
  .parcel-cache/data.mdb
  .parcel-cache/e109ce945c5e957d.txt
  .parcel-cache/lock.mdb
  .parcelrc
  .prettierignore
  .prettierrc
  .tool-versions
  docs/.firebaserc
  docs/.nojekyll
  docs/Gemfile
  docs/Gemfile.lock
  docs/_config.yml
  docs/firebase.json
  jest.config.js
  package-lock.json
  package.json
Due: eslint

refactor: move dev files to www folder
  .parcel-cache/data.mdb
  .parcel-cache/e109ce945c5e957d.txt
  .parcel-cache/lock.mdb
  src/index.html
  src/www/README.md
  src/www/assets/Flama-Book.woff
  src/www/assets/FlamaSemicondensed-Basic.woff
  src/www/assets/FlamaSemicondensed-Book.otf
  src/www/assets/FlamaSemicondensed-Medium.woff
  src/www/assets/favicon.ico
  src/www/index.html
  src/www/index.ts
Due: eslint, markdownlint

refactor: move types to @types folder
  .gitignore
  src/@types/parcel.d.ts
  src/declarations.d.ts
  src/global.d.ts
  src/types.ts
Due: eslint

chore: remove docs from ci (for now)
  .gitlab-ci.yml
  package.json
  scripts/extract_tag.sh
  tsconfig.json
Due: none

docs: add publish documentation
  CONTRIBUTING.md
  package-lock.json
  package.json
Due: markdownlint

2.0.0-rc.0
  package-lock.json
  package.json
Due: none

2.0.0-rc.0
  .github/workflows/ci.yml
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: none

2.0.0-rc.1
  package-lock.json
  package.json
Due: none

2.0.0-rc.1
  .gitlab-ci.yml
  package-lock.json
  package.json
  scripts/extract_tag.sh
Due: none

1.3.1
  package-lock.json
  package.json
Due: none

fix: use left to right animation
  src/components/consent/option/option.css
Due: none

fix: make tagline flex items flex-start
  src/components/header/header.css
Due: none

chore: update defaults
  package.json
  src/config/index.ts
Due: eslint

style: fix more stylelint issues
  package.json
  src/components/app.css
Due: none

chore: fix HMR
  src/www/index.html
  src/www/index.ts
Due: eslint

fix: fix margin offset with useAnimateDetails
  package-lock.json
  package.json
  src/hooks/useAnimateDetails/index.tsx
  src/hooks/useAnimateDetails/useAnimateDetails.test.tsx
Due: eslint

chore: update dependencies
  package-lock.json
  package.json
Due: none

feat: make labels optional
  src/components/app.tsx
  src/components/consent/consent.test.tsx
  src/components/consent/index.tsx
  src/components/header/header.test.tsx
  src/components/header/index.tsx
  src/config/index.ts
  src/lib.test.ts
  src/lib.ts
  src/utils/consent/consent.test.ts
  src/utils/mappers/mappers.test.ts
Due: eslint

refactor: remove unnecessary index file
  src/www/index.html
  src/www/index.ts
Due: eslint
