Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Fix banner logo positioning
  src/components/banner/style.css
Due: none

Fix option test
  src/tests/components/customization/option.test.tsx
Due: eslint

Remove isRequired from config
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/option.test.tsx
  src/types.ts
Due: eslint

Adjust npm token
  .gitlab-ci.yml
Due: none

Move logo below header for better search result presentation on npm
  README.md
Due: markdownlint

Update devDependencies (non-major)
  package-lock.json
  package.json
Due: none

Deploy docs
  .firebaserc
  .gitignore
  .gitlab-ci.yml
  .markdownlint.json
  README.md
  docs/config.md
  docs/development.md
  docsify/sidebar.md
  firebase.json
  index.html
  package.json
  scripts/docsify.sh
Due: markdownlint

Rename demo to site
  firebase.json
Due: none

Replace localStorage for cookie
  jest.config.js
  src/components/app.tsx
  src/components/customization/index.tsx
  src/hooks/useCookie.ts
  src/hooks/useLocalStorage.ts
  src/tests/__mocks__/browserMocks.ts
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/tests/hooks/useLocalStorage.test.ts
  src/tests/utils/clearCookies.ts
Due: eslint

Add expose function to window.cookieThough
  src/components/app.tsx
  src/global.d.ts
Due: eslint

Store only id & isEnabled in cookie
  src/components/app.tsx
  src/components/customization/index.tsx
  src/global.d.ts
  src/hooks/useCookie.ts
  src/index.ts
  src/tests/__mocks__/config.ts
  src/tests/__mocks__/policies.ts
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/types.ts
Due: eslint

Use callback for state changes
  src/components/app.tsx
  src/components/customization/index.tsx
  src/hooks/useCookie.ts
  src/index.ts
  src/types.ts
Due: eslint

Initialise useCookie hook only in app.tsx
  src/components/app.tsx
  src/components/customization/index.tsx
Due: eslint

Format cookieOptions to CookiePreferences
  src/components/customization/index.tsx
Due: eslint

Fix tests
  src/hooks/useCookie.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/hooks/useCookie.test.ts
Due: eslint

Make CookiePreferences a first-party cookie
  src/global.d.ts
  src/hooks/useCookie.ts
Due: eslint

Refactor slider component
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/slider.css
  src/components/customization/option.tsx
  src/components/customization/options.tsx
  src/components/customization/slider.tsx
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/slider.test.tsx
Due: eslint

Make essential policy always enabled
  src/components/app.tsx
  src/components/customization/css/option.css
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/index.ts
  src/tests/components/customization/customization.test.tsx
Due: eslint

Fix dutch config subtitle breaking
  src/tests/__mocks__/config.ts
Due: eslint

Use essential description to display "always on"
  src/components/customization/option.tsx
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
Due: eslint

Unhash css
  .postcssrc
  package-lock.json
  package.json
  src/components/app.css
  src/components/banner/index.tsx
  src/components/banner/style.css
  src/components/button/index.tsx
  src/components/button/style.css
  src/components/customization/collapse.tsx
  src/components/customization/css/collapse.css
  src/components/customization/css/customization.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/components/customization/options.tsx
  src/components/customization/toggleButton.tsx
  src/index.ts
  src/tests/components/banner/banner.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
Due: eslint

Attach app to shadow-root
  src/components/app.tsx
  src/tests/app.test.tsx
Due: eslint

Inject git tag
  .gitlab-ci.yml
Due: none

Use host instead of root
  src/components/app.css
Due: none

Support shadow root
  .gitlab-ci.yml
  src/components/app.css
Due: none

Add :host around shadow-root classes
  src/components/app.css
Due: none

Fix general css issues
  src/components/app.css
  src/components/banner/style.css
  src/components/button/style.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
Due: none

Add event emitter
  package-lock.json
  package.json
  src/components/app.tsx
  src/hooks/useCookie.ts
Due: eslint

Prepend css vars with ct-
  src/components/app.css
  src/components/banner/style.css
  src/components/button/style.css
  src/components/customization/css/collapse.css
  src/components/customization/css/customization.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
  src/index.html
Due: none

Add z-index to modal
  src/components/app.css
Due: none

Make the bottom css attribute dynamic
  src/components/app.css
  src/components/app.tsx
  src/tests/__mocks__/config.ts
Due: eslint

Add event emitter
  package-lock.json
  package.json
  src/components/app.tsx
  src/hooks/useCookie.ts
  src/index.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/types.ts
Due: eslint

Check css
  .gitlab-ci.yml
  src/components/app.tsx
Due: eslint

Expose setVisible on CookieThough
  src/components/app.tsx
  src/index.ts
  src/tests/app.test.tsx
Due: eslint

Use regular function for setVisible
  src/components/app.tsx
  src/components/customization/index.tsx
Due: eslint

Add more customisation settings
  src/components/app.css
  src/components/customization/css/option.css
Due: none

Remove artifacts
  .gitlab-ci.yml
Due: none

Pin dependency events to 3.2.0
  package.json
Due: none

Don't use content hashes
  package.json
  src/components/app.tsx
Due: eslint
