Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

eslint:
  name: Lint files with ESLint
  entry: ./node_modules/.bin/eslint --fix
  language: script
  stages:
  - commit

markdownlint:
  name: Lint Markdown documentation
  entry: ./node_modules/.bin/markdownlint
  language: script
  stages:
  - commit

Add test for getCookiePreferences
  src/components/app.tsx
  src/hooks/useCookie.ts
  src/tests/app.test.tsx
Due: eslint

Fix dutch typo's
  src/tests/__mocks__/policies.ts
Due: eslint

Feature/expose setvisible
  src/components/app.tsx
  src/components/customization/index.tsx
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/utils/dom.ts
Due: eslint

Update dependency preact to v10.5.12
  package-lock.json
  package.json
Due: none

Cleanup methods with additional docs
  README.md
  docs/api.md
  docs/styling.md
  docsify/sidebar.md
  package.json
  src/components/app.tsx
  src/components/customization/index.tsx
  src/hooks/useCookie.ts
  src/hooks/useCt.ts
  src/index.ts
  src/lib.ts
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/lib.test.ts
  src/utils/category.ts
  src/utils/dom.ts
Due: eslint, markdownlint

Show cookie on docs site
  README.md
  index.html
Due: markdownlint

Fix tests
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/lib.test.ts
  src/utils/index.ts
Due: eslint

Extrash npm tag
  .gitlab-ci.yml
  scripts/extract_tag.sh
Due: none

Update docs
  README.md
Due: markdownlint

Rename to useCookieThough
  docs/api.md
  src/hooks/useCookieThough.ts
  src/lib.ts
Due: eslint, markdownlint

Resolve remarks
  src/components/app.tsx
  src/hooks/useCookieThough.ts
Due: eslint

Remove ternary
  src/lib.ts
Due: eslint

Add a 90% code coverage threshold
  jest.config.js
Due: eslint

Remove import
  src/utils/index.ts
Due: eslint

Cleanup methods
  README.md
  docs/api.md
  docs/styling.md
  docsify/sidebar.md
  index.html
  package.json
  src/components/app.tsx
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/hooks/useCookie.ts
  src/hooks/useCookieThough.ts
  src/index.ts
  src/lib.ts
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/lib.test.ts
  src/utils/category.ts
  src/utils/dom.ts
  src/utils/index.ts
Due: eslint, markdownlint

Remove hook
  docs/api.md
  src/hooks/useCookieThough.ts
  src/lib.ts
Due: eslint, markdownlint

Define entry point
  .gitlab-ci.yml
  package.json
  scripts/types.sh
  tsconfig.json
Due: none

Remove from docs
  README.md
  index.html
Due: markdownlint

Make it easier to use as a library
  src/tests/__mocks__/policies.ts
  src/tests/components/customization/option.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/types.ts
  src/utils/category.ts
Due: eslint

Add generic logo
  assets/logo.png
  src/components/banner/index.tsx
Due: eslint

Use constant for emitted event
  src/hooks/useCookie.ts
  src/tests/hooks/useCookie.test.ts
Due: eslint

Add defaultConfig
  src/index.ts
  src/lib.ts
  src/tests/__mocks__/config.ts
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/options.test.tsx
Due: eslint

Update docs
  docs/api.md
  docsify/sidebar.md
Due: markdownlint

Clean up lib test
  src/tests/lib.test.ts
Due: eslint

Move defaultConfig out of tests
  src/config/defaultConfig.ts
  src/lib.ts
  src/tests/__mocks__/config.ts
  src/tests/__mocks__/policies.ts
Due: eslint

Update config to fit new categories
  src/config/defaultConfig.ts
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/lib.test.ts
  src/types.ts
Due: eslint

Update documentation
  docs/api.md
  docs/config.md
  docs/integration.md
  docs/styling.md
  docsify/sidebar.md
Due: markdownlint

Revert init default export
  src/lib.ts
  src/tests/lib.test.ts
Due: eslint

Fix MR remarks
  docs/config.md
  docs/integration.md
Due: markdownlint

Add repository to package.json
  package.json
Due: none

Update typescript-eslint to 4.14.2
  package-lock.json
  package.json
Due: none

Cleanup demo app code
  src/index.ts
Due: eslint

Fix difference in mockPolicies for demo site
  src/tests/__mocks__/policies.ts
Due: eslint

Add keywords to package.json
  package.json
Due: none

Rename integration to installation
  docs/installation.md
  docsify/sidebar.md
Due: markdownlint

Rename config to configuration
  docs/configuration.md
Due: markdownlint

Add installation and configuration links to readme
  README.md
  docsify/sidebar.md
Due: markdownlint

Make config not commented
  docs/installation.md
Due: markdownlint

Fix failing tests
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/lib.test.ts
Due: eslint

Remove sirv-cli
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.md$
