Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Render cookie though on css load
  src/components/app.css
  src/lib.ts
Due: eslint

Update dev dependencies
  package-lock.json
  package.json
Due: none

Change default font to sans serif
  src/components/app.css
Due: none

Inline css on build time
  .gitlab-ci.yml
  package.json
  scripts/replace_css.sh
  src/lib.ts
Due: eslint

Add fallback fonts
  src/components/app.css
  src/components/banner/style.css
  src/components/customization/css/option.css
Due: none

Fix resize bugs
  package-lock.json
  package.json
  src/components/app.tsx
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/hooks/useWindowResize.ts
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
Due: eslint

Ensure resetting the transition style is tested
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Make the mobile breakpoint larger
  src/components/app.tsx
Due: eslint

Use correct git repos
  index.html
  package.json
Due: none

Update dependency events to v3.3.0
  package-lock.json
  package.json
Due: none

Update devDependencies
  package-lock.json
  package.json
Due: none

Update dependency eslint-config-prettier to v8
  .eslintrc.js
  package-lock.json
  package.json
Due: eslint

Remove fixed container width on mobile
  src/components/app.css
  src/components/app.tsx
Due: eslint

Update package-lock to version 2
  package-lock.json
Due: none

Allow for more elements to be styled invidually
  docs/styling.md
  src/components/app.css
  src/components/banner/style.css
  src/components/button/style.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
Due: markdownlint

Switch outline to box shadow
  src/components/app.css
  src/components/banner/style.css
  src/components/button/style.css
  src/components/customization/collapse.tsx
  src/components/customization/css/collapse.css
  src/components/customization/css/customization.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
Due: eslint

Scroll option into view on small devices
  src/components/customization/collapse.tsx
  src/components/customization/css/collapse.css
  src/components/customization/css/option.css
  src/components/customization/option.tsx
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/option.test.tsx
Due: eslint

Fix width on mobile
  src/components/app.css
Due: none

Update devDependencies (non-major)
  package-lock.json
  package.json
Due: none

adding some more css
  docs/css/docs.css
  docs/fonts/Flama-Semicondensed-Book.woff
  docs/images/example-collapsed.png
  docs/images/example-expanded.png
  docs/images/shapes.svg
  docs/index.html
Due: none

added content / basic HTML. CSS is a mess and will be replaced with sass
  .gitignore
  Gemfile
  Gemfile.lock
  _config.yml
  docs/_includes/head.html
  docs/_layouts/default.html
  docs/_layouts/docs.html
  docs/api.md
  docs/configuration.md
  docs/contributing.md
  docs/css/docs.css
  docs/development.md
  docs/fonts/Flama-Medium.svg
  docs/fonts/Flama-Medium.woff
  docs/fonts/Flama-Medium.woff2
  docs/fonts/Flama-Semibold.svg
  docs/fonts/Flama-Semibold.woff
  docs/fonts/Flama-Semibold.woff2
  docs/gtm-support.md
  docs/index.html
  docs/installation.md
  docs/styling.md
Due: markdownlint

removed css files
  .gitignore
  docs/_includes/sidebar.md
  docs/_scss/docs.scss
  package-lock.json
  package.json
Due: markdownlint

adding some smacss
  docs/_includes/head.html
  docs/_scss/base/_base.scss
  docs/_scss/base/_defaults.scss
  docs/_scss/base/_reset.scss
  docs/_scss/base/_typography.scss
  docs/_scss/docs.scss
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_buttons.scss
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_hightlight.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_modules.scss
  docs/_scss/modules/_nav.scss
  package-lock.json
  package.json
Due: none

adding basic desktop design
  docs/_scss/docs.scss
  docs/_scss/layout/_layout.scss
  docs/_scss/mixins/_mediaquery.scss
  docs/_scss/mixins/_mixins.scss
  docs/_scss/mixins/_visually-hidden.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_nav.scss
  docs/_scss/settings/_settings.scss
  docs/index.html
Due: none

adding layout for docs / social sharing
  _config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/sidebar.html
  docs/_includes/sidebar.md
  docs/_layouts/default.html
  docs/_layouts/docs.html
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_docs.scss
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_modules.scss
  docs/_scss/modules/_nav-docs.scss
  docs/_scss/modules/_nav.scss
  docs/android-chrome-192x192.png
  docs/android-chrome-512x512.png
  docs/apple-touch-icon.png
  docs/favicon-16x16.png
  docs/favicon-32x32.png
  docs/favicon.ico
  docs/gtm-support.md
  docs/images/cookiethough-white.svg
  docs/images/cookiethough.svg
  docs/images/favicon.png
  docs/images/itp.svg
  docs/images/social.png
  docs/index.html
  docs/site.webmanifest
Due: markdownlint

Move dev dependencies to devDependencies
  package-lock.json
  package.json
Due: none

fixed initial build when developing
  package.json
Due: none

Update .gitignore
  .gitignore
Due: none

Use Fira Code for code blocks
  docs/_scss/base/_typography.scss
  docs/_scss/modules/_hightlight.scss
  docs/fonts/FiraCode-Regular.ttf
Due: none

Ignore scss instead of sass
  _config.yml
Due: none

Fix package-lock
  package-lock.json
Due: none

Add docs styling
  docs/_layouts/docs.html
  docs/_scss/base/_defaults.scss
  docs/_scss/base/_typography.scss
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_docs.scss
  docs/_scss/modules/_hamburger.scss
  docs/_scss/modules/_hightlight.scss
  docs/_scss/modules/_markdown.scss
  docs/_scss/modules/_modules.scss
  docs/_scss/modules/_sidebar.scss
  docs/configuration.md
  docs/fonts/Flama-Medium.svg
  docs/fonts/Flama-Medium.woff
  docs/fonts/Flama-Medium.woff2
  docs/fonts/Flama-Semibold.svg
  docs/fonts/Flama-Semibold.woff
  docs/fonts/Flama-Semibold.woff2
  docs/fonts/Flama-Semicondensed-Book.woff
  docs/fonts/SourceSansPro-Light.ttf
  docs/fonts/SourceSansPro-Regular.ttf
  docs/fonts/SourceSansPro-SemiBold.ttf
  package.json
Due: markdownlint

Make docs responsive for any breakpoint
  docs/_scss/base/_defaults.scss
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_buttons.scss
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_nav.scss
  docs/images/example-collapsed.png
  docs/index.html
Due: none

Color h3 only in docs
  docs/_scss/base/_typography.scss
  docs/_scss/modules/_markdown.scss
Due: none

Center footer vertically
  docs/_scss/modules/_footer.scss
Due: none

Update links in docs
  docs/_includes/footer.html
  docs/_layouts/docs.html
Due: none

Make shapes higher on mobile
  docs/_scss/modules/_header.scss
Due: none

Fix homepage images
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/images/example-collapsed.png
  docs/images/example-expanded.png
  docs/index.html
Due: none

Finish home page for desktop
  docs/_includes/footer.html
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_buttons.scss
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_nav.scss
  docs/index.html
Due: none
