Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Fix eslint errors
  .eslintrc.js
  src/hooks/useCookie.ts
  src/lib.ts
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Remove sirv-cli
  package-lock.json
  package.json
Due: none

Fix collapse from snapping on load
  src/components/customization/collapse.tsx
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Set default bottom css attribute
  src/components/app.tsx
  src/lib.ts
Due: eslint

Fix expiration date on cookie
  src/hooks/useCookie.ts
Due: eslint

Trim whitespaces from cookie key when retrieving
  src/hooks/useCookie.ts
  src/tests/hooks/useCookie.test.ts
Due: eslint

Fix button font size changing
  docs/styling.md
  src/components/app.css
  src/components/button/style.css
  src/components/customization/css/toggleButton.css
Due: markdownlint

Add docs for GTM
  docs/configuration.md
  docs/gtm-support.md
  docs/images/analytics-allow.png
  docs/images/analytics-init.png
  docsify/sidebar.md
Due: markdownlint

Remove animation if reduce-motion is enabled
  src/components/app.css
  src/components/customization/css/collapse.css
  src/components/customization/css/option.css
  src/components/customization/css/toggleButton.css
Due: none

Add adjustable font based on browser
  docs/styling.md
  src/components/app.css
  src/components/app.tsx
  src/tests/app.test.tsx
  src/tests/lib.test.ts
Due: eslint, markdownlint

Prepend root div on body
  src/lib.ts
Due: eslint

Add toggleButton label to config
  docs/configuration.md
  src/components/app.tsx
  src/components/customization/index.tsx
  src/components/customization/toggleButton.tsx
  src/config/defaultConfig.ts
  src/tests/__mocks__/config.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/types.ts
Due: eslint, markdownlint

Add outline to focus elements
  src/components/button/style.css
  src/components/customization/css/collapse.css
  src/components/customization/css/option.css
  src/components/customization/css/options.css
  src/components/customization/css/toggleButton.css
  src/components/customization/index.tsx
  src/components/customization/options.tsx
Due: eslint

Remove tabindex if cookie though is hidden
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/options.test.tsx
  src/utils/dom.ts
Due: eslint

Fix type error
  src/tests/app.test.tsx
Due: eslint

Fix collapse display bug
  src/components/customization/option.tsx
  src/components/customization/options.tsx
  src/tests/components/customization/option.test.tsx
Due: eslint

Use a less limiting trigger to resize container
  src/components/app.tsx
Due: eslint

Add more font size barriers
  src/components/app.tsx
  src/tests/app.test.tsx
Due: eslint

Make input hidden from the accessibility tree
  src/components/customization/option.tsx
Due: eslint

Adjust bottom based on font size
  src/components/app.css
  src/components/app.tsx
Due: eslint

Make collapse scroll if necessary
  src/components/app.tsx
  src/components/customization/collapse.tsx
  src/tests/app.test.tsx
Due: eslint

Pass rootStyles from app
  src/components/app.tsx
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/lib.ts
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/lib.test.ts
Due: eslint

Add more contrast to colors
  docs/styling.md
  src/components/app.css
Due: markdownlint

Use vw instead of percent for width of modal
  src/components/app.css
Due: none

Remove RootStyles
  src/components/app.tsx
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
Due: eslint

Set bottom regardless of screen for large fonts
  src/components/app.tsx
Due: eslint

Fix tests
  src/components/app.tsx
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/lib.ts
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
Due: eslint

Add comment about calculating acceptanceHeight
  src/components/customization/index.tsx
Due: eslint

Fix collapse boundary
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/lib.ts
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Fix collapse boundary
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Lower stability days for renovate
  renovate.json
Due: none

adding license
  LICENSE
Due: none

Cleanup methods
  src/components/app.tsx
  src/components/customization/index.tsx
  src/hooks/useCookie.ts
Due: eslint

Store cookie preferences as a string
  src/hooks/useCookie.ts
  src/tests/app.test.tsx
  src/tests/hooks/useCookie.test.ts
Due: eslint

Clear cookie if is stored in the deprecated way
  src/hooks/useCookie.ts
  src/tests/hooks/useCookie.test.ts
Due: eslint

Change GTM documentation
  docs/images/analytics-allow.png
  docs/images/analytics-init.png
Due: none

Update license
  LICENSE
Due: none

Fix keyword typo
  package.json
Due: none

Add contributing.md
  README.md
  docs/contributing.md
Due: markdownlint

Lower stability for devDeps
  renovate.json
Due: none
