Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Add link to homepage in docs
  docs/_layouts/docs.html
  docs/_scss/modules/_sidebar.scss
Due: none

Add github icon to docs
  docs/_layouts/docs.html
  docs/_scss/base/_defaults.scss
  docs/_scss/base/_reset.scss
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_github-corner.scss
  docs/_scss/modules/_hamburger.scss
  docs/_scss/modules/_modules.scss
  docs/_scss/modules/_sidebar.scss
Due: none

Make docs responsive for mobile
  docs/_scss/layout/_layout.scss
  docs/_scss/modules/_aside.scss
  docs/_scss/modules/_buttons.scss
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/_scss/modules/_main.scss
  docs/_scss/modules/_nav.scss
Due: none

Remove docsify
  package-lock.json
  package.json
Due: none

Update package-lock
  package-lock.json
Due: none

Fix gitlab ci
  .gitlab-ci.yml
Due: none

Add deploy docs step to master branch
  .gitlab-ci.yml
Due: none

Update favicon
  docs/jekyll/android-chrome-192x192.png
  docs/jekyll/android-chrome-512x512.png
  docs/jekyll/apple-touch-icon.png
  docs/jekyll/favicon-16x16.png
  docs/jekyll/favicon-32x32.png
  docs/jekyll/favicon.png
  docs/jekyll/images/favicon.png
  docs/jekyll/site.webmanifest
  package.json
Due: none

Pin dependencies
  package-lock.json
  package.json
Due: none

Fix horizontal overflow
  docs/_scss/modules/_nav.scss
Due: none

Make all github links open in a new tab
  docs/jekyll/index.html
Due: none

Remove cookie policy link
  docs/jekyll/_includes/footer.html
Due: none

1.0.0
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
  docs/jekyll/logo.png
Due: markdownlint

Add contributing page to docs
  docs/jekyll/_includes/sidebar.html
Due: none

Add documentation to development docs
  docs/jekyll/development.md
Due: markdownlint

Update to v1.0.0
  package.json
Due: none

Move clearCookies to helpers instead of utils
  src/tests/app.test.tsx
  src/tests/helpers/clearCookies.ts
  src/tests/hooks/useCookie.test.ts
  src/tests/lib.test.ts
Due: eslint

Calculate container height on resize
  src/components/customization/collapse.tsx
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/utils/getContainerHeights.test.ts
  src/utils/getContainerHeights.ts
Due: eslint

Calculate container height on resize
  package.json
  src/components/customization/collapse.tsx
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/utils/getContainerHeights.test.ts
  src/utils/getContainerHeights.ts
Due: eslint

1.0.0
  package.json
Due: none

Fix font load speed
  .gitignore
  docs/_scss/base/_defaults.scss
  docs/_scss/base/_typography.scss
  docs/jekyll/_includes/head.html
  docs/jekyll/css/docs.min.css
  docs/jekyll/css/docs.min.css.map
Due: none

Ignore minified css from site build
  .gitignore
Due: none

replaced incorrect docs refs in documentation
  docs/css/docs.min.css
  docs/css/docs.min.css.map
  docs/jekyll/gtm-support.md
Due: markdownlint

removed css folder
  docs/css/docs.min.css
  docs/css/docs.min.css.map
Due: none

Add working example on homepage
  docs/_scss/modules/_header.scss
  docs/jekyll/_includes/head.html
  docs/jekyll/index.html
Due: none

Fix svg blur on homepage
  docs/_scss/modules/_footer.scss
  docs/_scss/modules/_header.scss
  docs/jekyll/_includes/footer.html
  docs/jekyll/images/cookiethough-white.svg
  docs/jekyll/images/cookiethough.svg
  docs/jekyll/index.html
Due: none

removed /docs/ in path
  docs/jekyll/installation.md
Due: markdownlint

Fix broken doc links
  docs/jekyll/development.md
  docs/jekyll/gtm-support.md
Due: markdownlint

Add essential cookie description
  docs/jekyll/configuration.md
  src/components/app.tsx
  src/components/customization/css/option.css
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/components/customization/options.tsx
  src/config/defaultConfig.ts
  src/tests/__mocks__/config.ts
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/types.ts
Due: eslint, markdownlint

Add CHANGELOG.md
  CHANGELOG.md
Due: markdownlint

1.1.0
  package-lock.json
  package.json
Due: none

Fix docs:deploy dependencies
  .gitlab-ci.yml
Due: none

Remove outline from collapse div
  CHANGELOG.md
  src/components/customization/css/collapse.css
Due: markdownlint

1.1.1
  package-lock.json
  package.json
Due: none

Fix expiration date not being set properly
  CHANGELOG.md
  src/hooks/useCookie.ts
Due: eslint, markdownlint

1.1.2
  package-lock.json
  package.json
Due: none

Add cookie & privacy page to homepage
  docs/_scss/layout/_layout.scss
  docs/jekyll/_includes/footer.html
  docs/jekyll/_includes/head.html
  docs/jekyll/cookie-policy.html
  docs/jekyll/index.html
  docs/jekyll/privacy-policy.html
Due: none

Add a badge for Gzip'd size on Unpkg
  README.md
Due: markdownlint

Add CONTRIBUTING doc
  CONTRIBUTING.md
Due: markdownlint
