Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - "--maxkb=5120"
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.2.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit
  # endregion

  # region: Custom scripts and executables
  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

Update dependency @types/jest to v26.0.20
  package-lock.json
  package.json
Due: none

Update dependency enzyme-adapter-preact-pure to v2.3.0
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-prettier to v3.3.1
  package-lock.json
  package.json
Due: none

Update dependency preact to v10.5.9
  package-lock.json
  package.json
Due: none

Improve renovate settings
  renovate.json
Due: none

Update dependency css-loader to v5
  package-lock.json
  package.json
Due: none

Update dependency enzyme-adapter-preact-pure to v3
  package-lock.json
  package.json
Due: none

Update dependency eslint to v7
  package-lock.json
  package.json
Due: none

Update dependency eslint-config-prettier to v7
  package-lock.json
  package.json
Due: none

Update dependency eslint-plugin-react-hooks to v4
  package-lock.json
  package.json
Due: none

Update dependency typescript to v4
  package-lock.json
  package.json
Due: none

Update dependency postcss-modules to v4
  package-lock.json
  package.json
Due: none

Improve documentation
  .tool-versions
  README.md
Due: markdownlint

Add config proposal
  .nojekyll
  architecture/config_proposal.md
  docsify/sidebar.md
  index.html
  package-lock.json
  package.json
Due: markdownlint

Use setVisible function
  .eslintrc.js
  src/components/app.tsx
  src/components/customization/index.tsx
  src/global.d.ts
  src/hooks/useLocalStorage.ts
  src/index.ts
  src/tests/__mocks__/browserMocks.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/hooks/useLocalStorage.test.ts
Due: eslint

Add logo
  .markdownlint.json
  README.md
  assets/logo.png
Due: markdownlint

Add MR line coverage
  .gitlab-ci.yml
  jest.config.js
Due: eslint

Downgrade postcss-modules
  package-lock.json
  package.json
Due: none

Perform clean install of dependencies
  .gitlab-ci.yml
Due: none

Replace react-collapse for react-tiny-collapse
  package-lock.json
  package.json
  src/components/customization/css/customization.css
  src/components/customization/index.tsx
  src/declarations.d.ts
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
Due: eslint

Remove unused include
  src/components/app.css
Due: none

Replace react-tiny-collapse for custom solution
  package-lock.json
  package.json
  src/components/customization/collapse.tsx
  src/components/customization/css/collapse.css
  src/components/customization/index.tsx
  src/tests/app.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
Due: eslint

Add the default coverage reporters
  jest.config.js
Due: eslint

Add junit.xml to .gitignore
  .gitignore
Due: none

Use aria-expanded instead of a custom attribute
  src/components/customization/collapse.tsx
Due: eslint

Add collapse test
  .eslintrc.js
  src/tests/components/customization/collapse.test.tsx
Due: eslint

Add publish stage
  .gitlab-ci.yml
  architecture/config_proposal.md
  package.json
Due: markdownlint

Publish dist folder
  .gitlab-ci.yml
Due: none

Add npm version
  .gitlab-ci.yml
Due: none

Fetch tags
  .gitlab-ci.yml
Due: none

Use npe to edit package version
  .gitlab-ci.yml
  package-lock.json
  package.json
Due: none

Use current directory
  .gitlab-ci.yml
  .npmignore
Due: none

Make package public
  package.json
Due: none

Change package name
  .gitlab-ci.yml
  package.json
Due: none

Set token
  .gitlab-ci.yml
Due: none

Set registry
  .gitlab-ci.yml
Due: none

Use prepare instead of postinstall
  package.json
Due: none

Add publish stage
  .gitlab-ci.yml
  .npmignore
  package-lock.json
  package.json
Due: none

Pin dependency npe to 1.1.3
  package-lock.json
  package.json
Due: none

Add support for switching config
  src/components/app.tsx
  src/components/banner/index.tsx
  src/components/customization/index.tsx
  src/components/customization/option.tsx
  src/components/customization/options.tsx
  src/hooks/useLocalStorage.ts
  src/index.html
  src/index.ts
  src/tests/__mocks__/config.ts
  src/tests/__mocks__/cookieOptions.ts
  src/tests/__mocks__/policies.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/banner/__snapshots__/banner.test.tsx.snap
  src/tests/components/banner/banner.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/__snapshots__/options.test.tsx.snap
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/hooks/useLocalStorage.test.ts
  src/types.ts
Due: eslint
