Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # region: pre-commit compatible repos
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: trailing-whitespace
        stages:
          - commit
      - id: check-yaml
        stages:
          - commit
      - id: check-added-large-files
        args:
          - '--maxkb=5120'
        stages:
          - commit

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
        name: Run Prettier
        files: \.[jt]sx?$
        stages:
          - commit

  - repo: local
    hooks:
      - id: eslint
        name: Lint files with ESLint
        entry: ./node_modules/.bin/eslint --fix
        language: script
        files: \.[jt]sx?$
        types: [file]
        stages:
          - commit

      - id: markdownlint
        name: Lint Markdown documentation
        entry: ./node_modules/.bin/markdownlint
        language: script
        files: \.md$
        types: [file]
        stages:
          - commit
  # endregion

refactor: remove unnecessary index file
  CHANGELOG.md
Due: markdownlint

chore: add execution next tag definition
  scripts/extract_tag.sh
Due: none

fix: skip prepare script during publish
  .gitlab-ci.yml
Due: none

2.0.0-rc.2
  package-lock.json
  package.json
Due: none

feat: add JSDoc annotations
  src/config/index.ts
Due: eslint

fix: make description optional
  src/components/header/index.tsx
Due: eslint

refactor: remove unnecessary TODO comment
  src/components/header/index.tsx
Due: eslint

2.0.0-rc.3
  package-lock.json
  package.json
Due: none

feat: add more options to style the buttons
  .markdownlint.json
  docs/jekyll/styling.md
  src/components/app.css
  src/components/button/style.css
Due: markdownlint

feat: add more options to style the buttons (#295)
  .markdownlint.json
  docs/jekyll/styling.md
  src/components/app.css
  src/components/button/style.css
Due: markdownlint

chore(deps): update dependencies
  .tool-versions
  package-lock.json
  package.json
Due: none

chore: fix linting errors
  .eslintrc.js
  CHANGELOG.md
  src/utils/dom.ts
Due: eslint, markdownlint

1.4.0
  package-lock.json
  package.json
Due: none

feat: support root domain
  src/components/app.tsx
  src/hooks/useCookie.ts
  src/types.ts
Due: eslint

chore: add docs regarding domain
  docs/jekyll/configuration.md
Due: markdownlint

chore: remove log statement
  src/hooks/useCookie.ts
Due: eslint

feat: support sharing cookie preferences across sub domains (#330)
  CHANGELOG.md
  docs/jekyll/configuration.md
  src/components/app.tsx
  src/hooks/useCookie.ts
  src/types.ts
Due: eslint, markdownlint

1.5.0
  package-lock.json
  package.json
Due: none

chore: update dependencies
  package-lock.json
  package.json
Due: none

refactor: update linters
  .eslintrc.js
  .prettierrc.js
  .stylelintrc.js
  package-lock.json
  package.json
  src/components/app.test.tsx
  src/components/app.tsx
  src/components/consent/consent.test.tsx
  src/components/consent/index.tsx
  src/components/consent/option/index.tsx
  src/components/header/header.test.tsx
  src/components/header/index.tsx
  src/config/index.ts
  src/context/container/container.test.tsx
  src/context/container/index.tsx
  src/context/onPreferencesChanged/index.tsx
  src/context/onPreferencesChanged/onPreferencesChanged.test.tsx
  src/hooks/useAnimateDetails/index.tsx
  src/hooks/useAnimateDetails/useAnimateDetails.test.tsx
  src/hooks/useLayoutEffectOnce/index.tsx
  src/hooks/useTransitionDuration/useTransitionDuration.test.tsx
  src/lib.ts
  src/reducers/options.tsx
  src/utils/consent/consent.test.ts
  src/utils/consent/index.ts
  src/utils/container/container.test.ts
  src/utils/mappers/index.ts
  src/utils/mappers/mappers.test.ts
  src/utils/preferences/index.ts
  src/utils/preferences/preferences.test.ts
Due: eslint

refactor: switch to vite over parcel
  .eslintrc.js
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/components/app.css
  src/components/app.tsx
  src/utils/container/index.ts
  src/utils/css.ts
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  www/README.md
  www/assets/Flama-Book.woff
  www/assets/FlamaSemicondensed-Basic.woff
  www/assets/FlamaSemicondensed-Book.otf
  www/assets/FlamaSemicondensed-Medium.woff
  www/assets/favicon.ico
  www/index.html
Due: eslint, markdownlint

fix: make transition duration work with ms and s
  src/hooks/useTransitionDuration/index.tsx
Due: eslint

feat: animate chevron when closing details
  src/components/consent/consent.css
  src/hooks/useAnimateDetails/index.tsx
Due: eslint

feat: add more button styling
  src/components/app.css
  src/components/button/button.css
Due: none

feat: support sharing preferences across sub domains
  src/@types/parcel.d.ts
  src/components/app.tsx
  src/components/consent/index.tsx
  src/config/index.ts
  src/reducers/options.tsx
  src/utils/preferences/index.ts
Due: eslint

feat: update tests
  package.json
  src/utils/preferences/preferences.test.ts
Due: eslint

chore: clean up jest
  jest.config.js
  package.json
  test/inline-css.js
  test/setup-test-env.js
  vite.config.ts
Due: eslint

docs: add banner
  README.md
  banner.png
Due: markdownlint

docs: add banner (#793)
  README.md
  banner.png
Due: markdownlint

feat: bump packages to fix vulnerabilities
  .babelrc
  .eslintrc.js
  .gitignore
  .parcelrc
  .prettierrc
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  package-lock.json
  package.json
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/index.html
  src/index.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/button/button.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/tests/lib.test.ts
Due: eslint, markdownlint

feat: bump packages to fix vulnerabilities
  .babelrc
  .eslintrc.js
  .gitignore
  .parcelrc
  .prettierrc
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  package-lock.json
  package.json
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/index.html
  src/index.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/button/button.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/tests/lib.test.ts
  tsconfig.json
Due: eslint, markdownlint

feat: bump packages to fix vulnerabilities (#1064)
  .babelrc
  .eslintrc.js
  .gitignore
  .parcelrc
  .prettierrc
  .tool-versions
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  package-lock.json
  package.json
  src/components/customization/collapse.tsx
  src/components/customization/index.tsx
  src/index.html
  src/index.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/button/button.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/tests/hooks/useCookie.test.ts
  src/tests/lib.test.ts
  tsconfig.json
Due: eslint, markdownlint

fix: wrong merge conflicts resolved removed astro deps
  .github/workflows/ci.yml
  .gitignore
  .gitlab-ci.yml
  package-lock.json
  package.json
  tsconfig.json
Due: none

fix: testing because of breaking cheerio version
  package-lock.json
  package.json
Due: none

fix: replace css script
  .gitignore
  package.json
  scripts/replace_css.sh
Due: none

feat: update high vulnerability dependencies
  package-lock.json
  package.json
Due: none

feat: update high vulnerability dependencies
  .github/workflows/ci.yml
  package-lock.json
  package.json
  patches/@jest+reporters+29.7.0.patch
Due: none
