Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, markdownlint

eslint:
  name: Lint files with ESLint
  entry: ./node_modules/.bin/eslint --fix
  language: script
  stages:
  - commit

markdownlint:
  name: Lint Markdown documentation
  entry: ./node_modules/.bin/markdownlint
  language: script
  stages:
  - commit

Add Github CI
  .github/workflows/ci.yml
Due: none

Update contributing link
  README.md
Due: markdownlint

Remove unused fontSize
  src/tests/app.test.tsx
Due: eslint

Allow forbidden non-null assertion
  .eslintrc.js
Due: eslint

Use policies div to calculate collapse div
  CHANGELOG.md
  src/components/customization/collapse.tsx
  src/components/customization/options.tsx
  src/tests/components/customization/collapse.test.tsx
Due: eslint, markdownlint

Fix collapse div height if font changes
  .eslintrc.js
  CHANGELOG.md
  src/components/customization/collapse.tsx
  src/components/customization/options.tsx
  src/tests/app.test.tsx
  src/tests/components/customization/collapse.test.tsx
Due: eslint, markdownlint

Create dependabot.yml
  .github/dependabot.yml
Due: none

Create dependabot.yml (#9)
  .github/dependabot.yml
Due: none

Add stale detection for issues
  .github/stale.yml
Due: none

Add stale detection for issues (#10)
  .github/stale.yml
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: markdownlint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: markdownlint

Create CODE_OF_CONDUCT.md (#21)
  CODE_OF_CONDUCT.md
Due: markdownlint

Update issue templates (#22)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: markdownlint

Upload test coverage to Codecov
  .github/workflows/ci.yml
Due: none

Add Codecov coverage badge to README.md
  README.md
Due: markdownlint

Enable workflow for any master push and PR
  .github/workflows/ci.yml
Due: none

Feature/codecov (#31)
  .github/workflows/ci.yml
  README.md
Due: markdownlint

Add license badge to README.md
  README.md
Due: markdownlint

Add license badge to README.md (#32)
  README.md
Due: markdownlint

Update CHANGELOG.md
  CHANGELOG.md
Due: markdownlint

1.1.3
  package-lock.json
  package.json
Due: none

1.1.4
  package-lock.json
  package.json
Due: none

Feature/release v1.1.4 (#33)
  CHANGELOG.md
  package-lock.json
  package.json
Due: markdownlint

Configuration Docs - Added missing customizeLabel
  docs/jekyll/configuration.md
Due: markdownlint

Configuration Docs - Added missing customizeLabel (#61)
  docs/jekyll/configuration.md
Due: markdownlint

Prepare release v1.1.5
  CHANGELOG.md
  docs/jekyll/configuration.md
  package-lock.json
  src/components/banner/index.tsx
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/banner/banner.test.tsx
  src/types.ts
Due: eslint, markdownlint

1.1.5
  package-lock.json
  package.json
Due: none

Feature/release v1.1.5 (#65)
  CHANGELOG.md
  docs/jekyll/configuration.md
  package-lock.json
  package.json
  src/components/banner/index.tsx
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/banner/banner.test.tsx
  src/types.ts
Due: eslint, markdownlint

Allow for custom container element
  src/lib.ts
Due: eslint

Update config type to allow custom HTML container element tag
  src/types.ts
Due: eslint

Add default for containerElement config prop as an HTML aside
  src/config/defaultConfig.ts
Due: eslint

Fix useRef possible undefined errors
  src/components/customization/collapse.tsx
Due: eslint

Add containerElement to docs
  docs/jekyll/configuration.md
Due: markdownlint

Path conditions:
  eslint: any of: \.[jt]sx?$
  markdownlint: any of: \.md$
