Repository inthepocket/cookie-though: changes, and which pre-commit hooks are due for each by the changed paths.
All: ESLint, StyleLint

ESLint:
  name: Lint JavaScript/TypeScript with ESLint
  entry: ./node_modules/.bin/eslint --fix
  language: script

StyleLint:
  name: Lint (S)CSS with Stylelint
  entry: ./node_modules/.bin/stylelint --fix
  language: script

feat: update high vulnerability dependencies
  .github/workflows/ci.yml
Due: none

feat: update high vulnerability dependencies
  patches/test-exclude+6.0.0.patch
Due: none

feat: update high vulnerability dependencies (#1140)
  .github/workflows/ci.yml
  package-lock.json
  package.json
  patches/@jest+reporters+29.7.0.patch
  patches/test-exclude+6.0.0.patch
Due: none

fix: high vulnerabilities
  package-lock.json
  package.json
Due: none

fix: high vulnerabilities (#1151)
  package-lock.json
  package.json
Due: none

feat: update dependencies
  .eslintrc.js
  babel.config.js
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  patches/@jest+reporters+29.7.0.patch
  src/global.d.ts
  src/hooks/useCookie.ts
  src/index.ts
  src/tests/__mocks__/fileMocks.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/banner/banner.test.tsx
  src/tests/components/button/button.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/tests/lib.test.ts
Due: ESLint

feat: update dependencies (#1214)
  .eslintrc.js
  babel.config.js
  eslint.config.js
  jest.config.js
  package-lock.json
  package.json
  patches/@jest+reporters+29.7.0.patch
  src/global.d.ts
  src/hooks/useCookie.ts
  src/index.ts
  src/tests/__mocks__/fileMocks.ts
  src/tests/__snapshots__/app.test.tsx.snap
  src/tests/app.test.tsx
  src/tests/components/banner/banner.test.tsx
  src/tests/components/button/button.test.tsx
  src/tests/components/customization/__snapshots__/customization.test.tsx.snap
  src/tests/components/customization/collapse.test.tsx
  src/tests/components/customization/customization.test.tsx
  src/tests/components/customization/option.test.tsx
  src/tests/components/customization/options.test.tsx
  src/tests/components/customization/toggleButton.test.tsx
  src/tests/lib.test.ts
Due: ESLint

fix: broken dist for publish
  package.json
  scripts/replace_css.sh
  scripts/types.sh
  src/index.html
  src/lib.ts
  tsconfig.types.json
Due: ESLint

feat: use latest version on website
  docs/src/layouts/BaseLayout.astro
Due: none

fix: website svg's
  docs/src/_scss/modules/_buttons.scss
  docs/src/_scss/modules/_footer.scss
  docs/src/_scss/modules/_header.scss
Due: none

feat: use latest version in docs instead of <version>
  docs/src/pages/installation.mdx
Due: none

feat: gitlab pipeline
  .gitlab-ci.yml
Due: none

fix: replace h1 with p in banner to fix duplicate heading SEO issue
  src/components/banner/index.tsx
  src/components/banner/style.css
  src/tests/components/banner/banner.test.tsx
Due: ESLint, StyleLint

fix: replace h1 with p in banner to fix duplicate heading SEO issue
  package-lock.json
  src/components/banner/index.tsx
  src/components/banner/style.css
  src/tests/components/banner/banner.test.tsx
Due: ESLint, StyleLint

feat: bump version to 1.7.2
  package.json
Due: none

feat: bump version to 1.7.3
  package.json
Due: none

Path conditions:
  ESLint: any of: \.[jt]sx?$
  StyleLint: any of: \.css$
